/build
/.DS_Store
/priorityexecutor.iml
/local.properties
/gradlew
/gradlew.bat
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.gradle/4.6/fileChanges/last-build.bin
/.gradle/4.6/fileHashes/fileHashes.bin
/.gradle/4.6/fileHashes/fileHashes.lock
/.gradle/4.6/taskHistory/taskHistory.bin
/.gradle/4.6/taskHistory/taskHistory.lock
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcsWorkingDirs/gc.properties
/.idea/caches/build_file_checksums.ser
/.idea/codeStyles/Project.xml
/.idea/gradle.xml
/.idea/libraries/Gradle__android_arch_core_common_1_1_0_jar.xml
/.idea/libraries/Gradle__android_arch_core_runtime_1_1_0.xml
/.idea/libraries/Gradle__android_arch_lifecycle_common_1_1_0_jar.xml
/.idea/libraries/Gradle__android_arch_lifecycle_livedata_core_1_1_0.xml
/.idea/libraries/Gradle__android_arch_lifecycle_runtime_1_1_0.xml
/.idea/libraries/Gradle__android_arch_lifecycle_viewmodel_1_1_0.xml
/.idea/libraries/Gradle__com_android_support_animated_vector_drawable_27_1_1.xml
/.idea/libraries/Gradle__com_android_support_appcompat_v7_27_1_1.xml
/.idea/libraries/Gradle__com_android_support_support_annotations_27_1_1_jar.xml
/.idea/libraries/Gradle__com_android_support_support_compat_27_1_1.xml
/.idea/libraries/Gradle__com_android_support_support_core_ui_27_1_1.xml
/.idea/libraries/Gradle__com_android_support_support_core_utils_27_1_1.xml
/.idea/libraries/Gradle__com_android_support_support_fragment_27_1_1.xml
/.idea/libraries/Gradle__com_android_support_support_vector_drawable_27_1_1.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/workspace.xml
